body {
    font-family: "Barlow Semi Condensed", sans-serif;
    line-height: 1.2;
    font-size: 13px;
    background-color: hsl(214, 17%, 92%);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4);
    grid-auto-columns: 15rem;
    grid-auto-rows: 17.5rem;
    gap: 2rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    padding-bottom: 0;
}

/* grid placement */
.card-1 {
    border-radius: 1rem;
    background-color: hsl(263, 55%, 52%);
    grid-column: 1 / 3;
}

.card-2 {
    border-radius: 1rem;
    background-color: hsl(217, 19%, 35%);
}

.card-3 {
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    grid-column: 1 / 2;
}

.card-4 {
    border-radius: 1rem;
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
}

.card-5 {
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    grid-column: 4;
    grid-row: 1 / 3;
}

/* padding and border radius for img */
.profile img {
    border-radius: 50%;
    height: 2rem;
}

.profile-name {
    padding-left: 1rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 1rem 2rem;
}

/* margins for font */
.profile-name * {
    margin: 0.1rem 0 0.1rem 0;
}

.profile-info * {
    margin: 0.5rem 0 0.5rem 0;
    height: fit-content;
}

/* font colors */
#name-1,
#info-1 p {
    font-weight: 400;
    color: hsl(260, 100%, 95%);
}

#info-1 h2 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

#name-2,
#info-2 p {
    font-weight: 400;
    color: hsl(0, 0%, 81%);
}

#info-2 h2 {
    font-weight: 600;
    color: hsl(214, 17%, 92%);
}

#name-3,
#info-3 p {
    font-weight: 400;
    color: hsl(217, 19%, 35%);
}

#info-3 h2 {
    font-weight: 600;
    color: hsl(217, 19%, 35%);
}

#name-4,
#info-4 p {
    font-weight: 400;
    color: hsl(0, 0%, 81%);
}

#info-4 h2 {
    font-weight: 600;
    color: hsl(0, 0%, 81%);
}

#name-5,
#info-5 p {
    font-weight: 400;
    color: hsl(217, 19%, 35%);
}

#info-5 h2 {
    font-weight: 600;
    color: hsl(217, 19%, 35%);
}

@media (max-width: 600px) {
    body {
        font-size: 22px;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 235vh;
        padding: 3rem 1.5rem 3rem 1.5rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1);
        grid-auto-columns: 30rem;
        grid-auto-rows: minmax(auto, auto);
    }

    .profile img {
        border-radius: 50%;
        height: 2.75rem;
    }
    .card-1 img{
        border: 3.5px solid;
        border-color: hsla(264, 82%, 80%, 0.5);
    }
    .card-4 img{
        border: 3.5px solid;
        border-color: hsl(263, 55%, 52%);
    }

    .profile-name {
        font-size: 18px;
        padding-left: 1.5rem;
    }
    .profile-info * {
        padding-top: 1rem;
    }

    .card-1 {
        padding: 1.25rem;
        grid-column: auto;
        grid-row: 1 / 3;
    }

    .card-2 {
        padding: 1.25rem;
        grid-column: auto;
        grid-row: 3 / 4;
    }

    .card-3 {
        padding: 1.25rem;
        grid-column: auto;
        grid-row: 4 / 5;
    }

    .card-4 {
        padding: 1.25rem;
        grid-column: auto;
        grid-row: 5 / 7;
    }

    .card-5 {
        padding: 1.25rem;
        grid-column: auto;
        grid-row: 7 / 9;
    }

}